<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jangan mengarahkan ulang jika file atau direktori ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua permintaan ke index.php
    RewriteRule ^(.*)$ index.php [L,QSA]

</IfModule>
