@import url("./baseColor.css");

.table-mobile {
  max-height: calc(100vh - 412px);
  overflow: auto;
}

.table-desktop {
  max-height: calc(100vh - 320px);
  overflow: auto;
}

table {
  width: 95%;
  margin-left: 2.5%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #fff;
  display: block;
  overflow-y: auto;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid var(--primary);
  table-layout: fixed;
}

thead {
  font-size: 0.9em;
  height: 40px;
  position: sticky;
  top: -1px;
  z-index: 10;
}

thead th {
  vertical-align: middle;
  text-align: center;
}

thead tr {
  height: 40px;
}

tbody,
thead {
  width: 100%;
}

tbody {
  font-size: 0.7em;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody td {
  vertical-align: middle;
  padding-left: 10px;
}

/* Striped rows */
tbody tr:nth-child(even) {
  background-color: var(--darker); /* Darker color for even rows */
}

/* Hover effect */
tbody tr:hover {
  background-color: #1c2948; /* Lighter color on hover */
}

thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.rank-item {
  text-align: center;
}

.coin-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.coin-icon {
  color: white;
}

.positive-change {
  color: #28a745;
  font-weight: 600;
}

.negative-change {
  color: #dc3545;
  font-weight: 600;
}

tr td:nth-child(1) {
  display: flex;
  hyphens: auto;
  text-transform: uppercase;
}
tr td:nth-child(2) {
  text-align: center;
}

tr td {
  min-height: 40px;
}

.top-home {
  position: relative;
  z-index: 10;
  padding: 10px 10px;
}
.top-home::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("/Assets/Images/background-profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
}

.top-home::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--darker);
  opacity: 0.7;
  z-index: -1;
}

.top-home .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 0px;
}

.foto-top-home {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.text-top-home {
  color: white;
  font-size: 0.9em;
}

.text-top-home p:nth-child(1) {
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 3px;
}

.top-home .descriptions {
  width: 60%;
  margin-left: 20%;
  color: white;
  text-align: center;
  font-size: 0.9em;
  margin-top: 20px;
}

.balance-amount {
  background-color: #1c2948;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  width: 90%;
  margin-left: 2.5%;
  overflow: hidden;
  border-radius: 10px;
  min-height: 150px;
  height: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 15px 8px;
}

.balance-amount::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/Assets/Images/line-chart.png");
  opacity: 0.1;
  /* background-color: #1c2948; */
  z-index: -1;
}

.balance-amount .users {
  margin-left: 30px;
}

.balance-amount .users p:nth-child(1) {
  font-size: 1.2em;
  color: #0088cc;
}

.balance-amount .users p:nth-child(2) {
  font-size: 1.2em;
  color: #28a745;
  font-weight: bolder;
}

.balance-amount .amount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.balance-amount .amount div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.balance-amount .amount div p:nth-child(1) {
  font-size: 1.5em;
  font-weight: bolder;
}

.balance-amount .amount .invt-amount {
  font-size: 1em;
  border-bottom: 2px solid #0088cc;
  padding-bottom: 3px;
}

@media only screen and (max-width: 600px) {
  .top-home .descriptions {
    width: 90%;
    margin-left: 5%;
  }
}
