.account-type {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
}

#tradingview-widget-container {
  padding-bottom: 80px !important;
}

#tradingview-widget-container div {
  height: calc(90vh - 300px) !important;
}

.dots-active {
  margin-right: 10px;
  animation: dots-active-animation 1s infinite;
  transition: all 1s ease-in-out;
}
.dots-inactive {
  margin-right: 10px;
  animation: dots-inactive-animation 1s infinite;
  transition: all 1s ease-in-out;
}

@keyframes dots-active-animation {
  0%,
  100% {
    color: var(--base);
  }
  50% {
    color: green;
  }
}

@keyframes dots-inactive-animation {
  0%,
  100% {
    color: var(--base);
  }
  50% {
    color: red;
  }
}

.binance {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  color: white;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
  margin-top: 10px;
}

.binance .saldo p:nth-child(2) {
  border: 1px solid gray;
  padding: 10px 5px;
  border-radius: 6px;
}
